
<link rel="stylesheet" href="~/lib/components/button.css" />


<div>    
    <div class="ui button ">
        button
    </div>

    <div class="ui disabled button ">
        disabled
    </div>

    <div class="ui loading button">
        Loading
    </div>

    <div class="ui basic loading button">
        Loading
    </div>

    <div class="ui facebook button">
        button
    </div>    
</div>

<br>

<div class="ui compact facebook button">
    button
</div>

<div class="ui mini facebook button">
    button
</div>

<div class="ui tiny facebook button">
    button
</div>

<div class="ui small facebook button">
    button
</div>

<div class="ui small facebook button">
    button
</div>

<div class="ui large facebook button">
    button
</div>

<div class="ui big facebook button">
    button
</div>

<div class="ui huge facebook button">
    button
</div>

<div class="ui massive facebook button">
    button
</div>

<br>
<br>

<div class="ui fluid button">
    button
</div>
