@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/lib/components/dropdown.css" />
<script src="~/lib/components/dropdown.js"></script>

<div >
   <select class="ui search dropdown">       
           <option>a</option>
              
   </select>
</div>



